.App {
  text-align: center;
  position: relative;
  width: 648px;
  height: 704px;
  margin: 160px auto;
}

.App-logo {
  width:'180px';
  height:'33.6px';
  top: 7.2px;
  left:6px;
}

.ctsection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  background: #252D3C;
  padding: 24px 48px;
  gap: 10px;
  background: #252D3C;
  
}
.baseStepper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#A5ACBA;
}

.stepNumber{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 32px;
  height: 32px;
  /* background: #437EF7; */
  /* border: 1px solid #2E3545; */
  border: 1px solid #A5ACBA;
  border-radius: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.1px;
}
.stepLetter{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}
.active>.stepNumber{
  color:#A5ACBA;
  background-color:#437EF7;
  border: 1px solid #2E3545;
}
.active>.stepLetter{
  color: #437EF7;
  background-color:transparent;
}

.mainForm{
  text-align: left;
  padding: 32px 48px;
  background-color: #1C2534;
}
.input-group{
  margin-top: 24px;
}
.input-group>label{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #F9F9F9;
}
.input-group>input{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 16px;
  margin: 8px 0px;
  height: 46px;
  background: #333B48;
  border: 1px solid #2E3545;
  border-radius: 6px;
}
.input-group>.checkbox{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #437EF7;
  border-radius: 5px;
}
.input-group>label{
  margin: 8px auto 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #F9F9F9;
}
.inputWidth{
  width: 552px;
}
.flex-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.width-half{
  width: 260px;
}
.small-label{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #A5ACBA;
}
.wrapper{
  position:relative;
}
.ctButton{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 16px 48px;
  gap: 10px;
  background: #252D3C;
}

.btn{
  padding: 12px 18px;
  gap: 6px;
  background: #437EF7;
  color:white;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
}
.icon{
  width: 100%;
  height: 100%;
}
.icon-info{
  height: 2rem;
  width: 2rem;
  padding: 4px;
  position: absolute;
  box-sizing:border-box;
  top: 2.5em;
  right:12px;
  color:#F9F9F9;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
